{% extends "base.html" %}

{% block content %}
<h1>User Details</h1>

<p>Full name: {{ user.full_name }}</p>
<p>Created at: {{ user.created_at.strftime('%B %d, %Y, %I:%M %p') }}</p>
<a href="/users/{{ user.id }}/edit" class="btn btn-primary">Edit</a>

<form action="/users/{{ user.id }}/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
    <button class="btn btn-danger" type="submit">Delete</button>
</form>

<div style="max-width: 200px;">
    <img src="{{ url_for('static', filename=(user.image_url if user.image_url else 'path_to_default.jpg')) }}" class="img-fluid" alt="User Image">
</div>
<h2>Posts</h2>
<ul>
    {% for post in posts %}
    <li>
        <a href="/posts/{{post.id}}">{{post.title}}</a> - {{post.created_at.strftime("%B %d, %Y, %I:%M %p")}}
        {% for tag in post.tags %}
        <span class="badge badge-primary">{{tag.name}}</span>
        {% endfor %}
    </li>
    {% endfor %}
</ul>
<a href="{{ url_for('create_new_post', user_id=user.id) }}" class="btn btn-primary">Add Post</a>
{% endblock %}